* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Architects Daughter", cursive;
  height: 100%;
  display: flex;
  justify-content: center;
}

/* HOMEPAGE */
.home-background {
  height: 100vh;
  background: url("/images/background1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  background-size: 100% 100%;
  overflow-x: hidden;
  overflow-x: auto;
  background-attachment: fixed;
}

.home-container {
  margin: 5%;
}

#image-box-home {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
}

#green-table-home {
  display: flex;
  position: absolute;
  max-width: 300px;
  height: auto;
  border-radius: 10%;
}

#home-header {
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
}

#home-header2 {
  margin-left: 15%;
  margin-right: 15%;
}

#home-description {
  margin-top: 15px;
  margin-left: 5%;
  margin-right: 5%;
}

#signin {
  display: flex;
  align-items: center;
  width: 100%;
  height: 20px;
  margin-top: 15px;
  margin-left: 5%;
  margin-right: 5%;
}

#signin-button {
  background-color: rgb(10, 14, 247);
  color: blanchedalmond;
  padding: 5px 10px;
  border-radius: 20%;
  border-style: none;
  margin-left: 5px;
  font-family: "Architects Daughter", cursive;
  font-size: 16px;
}

#signup {
  display: flex;
  align-items: center;
  width: 100%;
  height: 20px;
  margin-top: 15px;
  margin-left: 5%;
  margin-right: 5%;
}

#signup-button {
  background-color: rgb(10, 14, 247);
  color: blanchedalmond;
  padding: 5px 10px;
  border-radius: 20%;
  border-style: none;
  margin-left: 5px;
  font-family: "Architects Daughter", cursive;
  font-size: 16px;
}

/* SIGNUP PAGE */
.signup-background {
  height: 100vh;
  background: url("/images/backgroundOrange.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  background-size: 100% 100%;
  overflow-x: hidden;
  overflow-x: auto;
  background-attachment: fixed;
}

.signup-container {
  margin: 10%;
}

#have-account {
  margin-top: 20px;
}

#button-have-account {
  background-color: rgb(10, 14, 247);
  color: blanchedalmond;
  padding: 5px;
  border-radius: 20%;
  border-style: none;
  text-decoration: none;
  font-family: "Architects Daughter", cursive;
  font-size: 16px;
  margin-top: 15px;
  max-width: 55px;
}

#image-box-signup {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
}

.green-table {
  display: flex;
  position: absolute;
  max-width: 200px;
  height: auto;
  border-radius: 10%;
}

.signup-header {
  margin-bottom: 20px;
}

.form-fields {
  margin-bottom: 10px;
}

.form-fields label {
  margin-right: 8px;
}

.click-button-signup {
  background-color: rgb(10, 14, 247);
  color: blanchedalmond;
  padding: 5px;
  border-radius: 20%;
  border-style: none;
  font-family: "Architects Daughter", cursive;
  font-size: 16px;
}

/* LOGIN PAGE */
.login-background {
  height: 100vh;
  background: url("/images/backgroundOrange.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  background-size: 100% 100%;
  overflow-x: hidden;
  overflow-x: auto;
  background-attachment: fixed;
}

.login-container {
  margin: 10%;
}

#no-account {
  margin-top: 20px;
}

#image-box-login {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
}

/* CREATE TABLE PAGE */
.table-background {
  height: 100vh;
  background: url("/images/background1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  background-size: 100% 100%;
  overflow-x: hidden;
  overflow-x: auto;
  background-attachment: fixed;
}

.table-container {
  margin: 10%;
  margin-top: 40px;
}

#date-address {
  display: flex;
  align-items: center;
  width: 100%;
  height: 20px;
  margin-top: 35px;
  margin-left: 5%;
  margin-right: 5%;
}

#date-address ul li {
  list-style: none;
}

#table-home-link {
  margin-left: 15px;
  border: none;
  text-decoration: none;
  margin-top: 5px;
  width: 20px;
}

#profile-page-link {
  margin-left: 10px;
  border: none;
  text-decoration: none;
  margin-top: 5px;
  width: 20px;
}

#submit-table {
  background-color: rgb(10, 14, 247);
  color: blanchedalmond;
  padding: 3px;
  border-radius: 20%;
  border-style: none;
  font-family: "Architects Daughter", cursive;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 15px;
}

/* INVITATION PAGE */
.invitation-background {
  height: 100vh;
  background: url("/images/backgroundYellow.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  background-size: 100% 100%;
  overflow-x: hidden;
  overflow-x: auto;
  background-attachment: fixed;
}

.invitation-container {
  margin: 10%;
  margin-top: 40px;
}

/* PROFILE PAGE */
.profile-background {
  height: 100vh;
  background: url("/images/backgroundYellow.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  background-size: 100% 100%;
  overflow-x: hidden;
  overflow-x: auto;
  background-attachment: fixed;
}

.profile-container {
  margin: 10%;
  margin-top: 40px;
}

.profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

#tables-list {
  list-style: none;
}

#signout-button {
  background-color: rgb(10, 14, 247);
  color: blanchedalmond;
  padding: 3px;
  border-radius: 20%;
  border-style: none;
  font-family: "Architects Daughter", cursive;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.button-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-direction: column;
  justify-items: right;
  /* height: 100vh; */
  display: flex;
}
.button-container .button-holder {
  display: flex;
  justify-content: flex-end;
  position: relative;
  right: 0;
  bottom: 0;
}

#credits-button {
  background-color: rgb(10, 14, 247);
  color: blanchedalmond;
  padding: 3px;
  border-radius: 20%;
  border-style: none;
  font-family: "Architects Daughter", cursive;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 15px;
}

/* CREDITS PAGE */
.credits-background {
  height: 100vh;
  background: url("/images/backgroundStripe1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  background-size: 100% 100%;
  overflow-x: hidden;
  overflow-x: auto;
  background-attachment: fixed;
}

.credits-container {
  margin: 10%;
  margin-top: 50px;
}

#credits-title {
  margin-top: 50px;
}
.credits {
  margin-top: 30px;
  font-size: 18px;
}

/* NAVBAR */
nav.navbar {
  background-color: transparent !important;
  position: absolute;
  list-style: none;
  margin-top: 8px;
}
